# Telegram bot token. Can be created with https://telegram.me/BotFather
TELEGRAM_BOT_TOKEN=
# Telegram user ID. Can be fetched with e.g. https://telegram.me/myidbot
TELEGRAM_USER_ID=
# Liputon event ID. Can be retrieved via browser url when navigating to the event page.
LIPUTON_EVENT_ID=
